body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.info {

  display: flex;

  width: 30%;
}

.info-head {
  display: flex;
  justify-content: center;
  width: 30%;
  padding-top: 8px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.979);
  margin-bottom: 12px;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  width: 85%;
  border-radius: 25px;
  display: flex;


  background-color: rgb(241, 236, 236);
}


input[type="search"] {
  border: none;
  background-color: rgb(241, 236, 236);
  margin: 0;
  padding: 10px 8px;
  font-size: 16px;
  color: inherit;



}

input[type="search"]::placeholder {
  color: #bbb;
}


.button {
  background-color: rgb(241, 236, 236);
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;

  cursor: pointer;

}

button [type="submit"] {
  text-indent: -999px;
  overflow: hidden;

  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background-color: rgb(241, 236, 236);
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"] :focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 transparent;
  border-color: transparent;
  outline: none;

}

.search-bar {
  margin-left: 10px;
}

.search-box {
  width: fit-content;
  padding-left: 20px;
  height: 40px;
  font-size: 16px;
  margin-left: -5px;
  border: none;
  border-radius: 30px;
  font-family: roboto, arial;
  font-weight: 500;
  background-color: rgb(241, 236, 236);
  flex-shrink: 1;
}

.search-button {
  height: 2px;


  border: none;
  border-radius: 30px;

  background-color: rgb(241, 236, 236);

}

.search-icon {
  height: 15px;


}

.information {

  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-contents {

  width: 85%;

  height: fit-content;


}

.subscribe {
  width: fit-content;

  font-family: arial;
  padding: 12px 16px;

  border-radius: 20px;
  margin-bottom: 16px;
  background-color: rgb(241, 236, 236);

}

.subscribe h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.subscribe p {
  font-size: 15px;
  width: 90%;
  color: #555;
  margin-top: 0;

}

.subscribe button {
  padding: 10px 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 40px;
  font-size: 15px;
  font-family: arial;
}

.trends-box {
  margin-top: 0;
  font-family: arial;
  border-radius: 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  width: 100%;
  background-color: rgb(241, 236, 236);
}

.trends-box h1 {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 12px 16px;


}

.trends {
  margin-top: 0;
  background-color: rgb(241, 236, 236);
  padding: 12px 16px;
  transition: background-color 0.15s;

}

.trends:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.trend-topic {

  color: #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trend-category {
  font-size: 14px;
}

.trend-name {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;

}

.trend-activity {
  margin-top: 2px;
  font-size: 14px;
  color: #555;

}

.extra-info {

  padding: 16px;
  font-family: arial;
  color: #2da0fd;
  transition: background-color 0.15s;
}

.extra-info:hover {
  cursor: pointer;
  background-color: rgb(210, 209, 209);
}

.suggestions {

margin-bottom: 16px;
  background-color: rgb(241, 236, 236);
  padding: 12px 16px;
  border-radius: 20px;
}

.account-suggestion {
  margin-top: 5px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.suggestions h1 {
  font-family: arial;

  margin-top: 0px;
  margin-bottom: 0;


}

.dp1-box {

  display: flex;
  justify-content: center;
  width: 20%;
}

.dp1 {
  height: 50px;
  border-radius: 100%;
}

.account-info {


  vertical-align: top;
  width: 50%;
}

.account-info-name {
  margin-top: 0;
  margin-bottom: 0;
  font-family: arial;
  font-weight: 700;

}

.account-info-handle {
  margin-top: 13px;
  line-height: 0px;
  font-family: arial;
  color: gray;

}

.ff-option {
margin-bottom: 16px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.ff-option button {

  font-family: arial;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 50px;
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.15s;
}

.ff-option button:hover {
  cursor: pointer;
  background-color: rgb(58, 58, 58);
}
.end-page{
  background-color: inherit;
}
.end-page p{
 
  display: inline-block;
 margin-bottom: 0;
 font-size: 15px;
 color: #828282;
 margin-right: 10px;
 margin-top: 5px;
}
.end-page p:hover{
  cursor: pointer;
  text-decoration: underline;
}





@media screen and (max-width: 1100px) {
  .info {
    display: none;
  }

 
}